@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #272121;
  line-height: 1;
  font-family: Play;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Play;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 93.75rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,91.875rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
h1 {
  font-weight: 700;
  line-height: 1.1
}
h2 {
  font-weight: 700;
  line-height: 1.1
}
h3 {
  font-weight: 700;
  line-height: 1.1
}
.nav__item--hover {
  cursor: pointer;
  position: relative
}
.nav__item--hover:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: rgba(0,0,0,0);
  transition: width .3s,background-color .3s
}
.nav__item--hover:hover::after {
  width: 100%;
  background-color: red
}
.nav__item--hover:hover {
  color: red;
  transition: .3s
}
.advantages__block {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: .3125rem
}
.advantages__icon {
  grid-row: 1/3;
  padding: 15px;
  border: 1px solid red;
  border-radius: 6.25rem;
  line-height: 0;
  color: red
}
.advantages__icon_white {
  border-color: #fff
}
.advantages__icon_white svg {
  color: #fff
}
.advantages__subtitle {
  align-self: flex-end
}
.advantages__title {
  align-self: baseline;
  font-weight: 700
}
.card {
  border-radius: .9375rem;
  border: 1px solid #ebebeb;
  transition: .2s;
  display: block
}
.card:hover {
  border-color: red;
  transition: .2s
}
.card__image {
  position: relative;
  overflow: hidden;
  border-radius: .9375rem .9375rem 0 0
}
.card__image img {
  position: absolute;
  left: 0;
  top: 65%;
  -webkit-transform: translateY(-65%);
  transform: translateY(-65%);
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover
}
.card__inner {
  padding: 1.25rem
}
.card__title {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: .625rem
}
.card__prices {
  display: flex;
  align-items: center;
  gap: .625rem;
  margin-bottom: 1.25rem
}
.card__price {
  font-size: 1.25rem;
  color: red
}
.card__price-old {
  color: #505050;
  border-left: 1px solid #505050;
  padding-left: .625rem
}
.card__insights {
  display: flex;
  gap: .9375rem;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1.25rem
}
.card__insights-item {
  padding: .625rem 1.5625rem;
  border-radius: .625rem;
  border: 1px solid #ebebeb
}
.card__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  color: #505050
}
.link {
  position: relative;
  transition: .3s
}
.link svg {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}
.link::before {
  content: "";
  height: .0625rem;
  width: 0;
  position: absolute;
  bottom: -.625rem;
  left: 0;
  background-color: rgba(0,0,0,0);
  transition: width .3s,background-color .3s
}
.link:hover::before {
  width: 100%;
  background-color: red
}
.link:hover {
  transition: .3s;
  color: red
}
.social {
  border-radius: 50px;
  background: #f9f9fb;
  line-height: 0;
  transition: .3s
}
.social:hover {
  color: #fff;
  background: red;
  transition: .3s
}
.social_footer {
  background-color: none;
  border: 1px solid #e0e0e0;
  padding: 1.125rem
}
.social_footer:hover {
  transition: .3s;
  border-color: red
}
.social_footer svg {
  width: 1.375rem;
  height: 1.375rem
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px
}
.header__btn {
  padding: 18px 35px;
  border-radius: .625rem;
  border: 1px solid #272121;
  transition: .2s;
  cursor: pointer
}
.header__btn:hover {
  background: #272121;
  color: #fff;
  transition: .2s
}
.menu__list {
  display: none
}
.menu__burger {
  position: absolute;
  right: 1.25rem;
  border-radius: 5px;
  border: 1px solid #dbdbdb
}
.footer__wrapper {
  border-radius: 20px;
  background: #f9f9fb;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 35px
}
.footer__subtitle {
  color: #787878;
  margin-top: .9375rem;
  max-width: 14.375rem;
  line-height: 1.1;
  margin-bottom: 1.875rem
}
.footer__socials {
  display: flex;
  align-items: center;
  flex-wrap: wrap
}
.footer__list {
  display: flex;
  flex-direction: column
}
.footer__item-title {
  font-weight: 700
}
.footer__item-subtitle {
  color: #787878
}
.footer__nav {
  display: flex;
  align-items: start;
  flex-wrap: wrap
}
.hero {
  position: relative
}
.hero__block {
  margin-top: 2.5rem;
  border-radius: 1.5625rem;
  background: #f9f9fb
}
.hero__text {
  position: relative
}
.hero__subtitle {
  line-height: 1.2;
  position: static
}
.hero__title {
  max-width: 41.5625rem
}
.hero__btn {
  width: 404px;
  background-color: red;
  display: inline-block;
  border-radius: .625rem;
  padding: 1.25rem;
  color: #fff;
  font-weight: 700;
  text-align: center
}
.hero__image {
  position: absolute;
  right: 0
}
.hero__slider {
  max-height: 4.375rem
}
.offers__title {
  margin-bottom: 1.25rem
}
.offers__nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between
}
.offers__list {
  display: flex;
  align-items: center
}
.steps__btn {
  position: absolute;
  bottom: -.5rem;
  width: 12.5rem;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  border: 1px solid #272121;
  display: inline-block;
  text-align: center;
  border-radius: .625rem;
  font-size: 1.125rem;
  transition: .2s
}
.steps__btn:hover {
  background-color: #272121;
  color: #fff;
  transition: .2s
}
.steps__title {
  max-width: 40rem
}
.steps__text {
  position: relative
}
.steps__inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between
}
.steps__blocks {
  display: grid;
  grid-template-columns: repeat(3,1fr)
}
.step__block {
  background: #f9f9fb;
  border-radius: 1.25rem 1.25rem .625rem .625rem;
  border-bottom: .5rem solid red
}
.step__title {
  margin-bottom: .5rem
}
.step__description {
  color: #505050;
  line-height: 1.1
}
.delivery__container {
  display: flex;
  align-items: center
}
.delivery__image {
  border-radius: 1.25rem;
  height: 510px;
  -o-object-fit: cover;
  object-fit: cover
}
.delivery__text {
  position: relative
}
.delivery__subtitle {
  position: absolute;
  right: 0;
  line-height: 1.1
}
.delivery__inner {
  width: 100%
}
.delivery__btn {
  display: inline-block;
  background-color: red;
  color: #fff;
  font-weight: 700;
  font-size: 1.125rem;
  text-align: center;
  border-radius: .625rem;
  width: 26.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  cursor: pointer
}
.delivery__advantages {
  display: flex;
  align-items: center;
  flex-wrap: wrap
}
.tradeIn__image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 1.25rem
}
.tradeIn__advantages {
  display: inline-grid;
  background-color: red;
  color: #fff;
  border-radius: .9375rem
}
.tradeIn__title {
  margin-bottom: .9375rem
}
.tradeIn__subtitle {
  line-height: 1.1
}
.tradeIn__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap
}
.contacts__socials {
  display: flex;
  gap: 2.1875rem
}
.contacts__header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2.8125rem
}
.contacts__inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2.1875rem
}
.contacts__item-title {
  margin-bottom: .5rem
}
.contacts__map {
  width: 100%;
  border-radius: 1.25rem
}
.catalog__nav {
  margin-top: 1.25rem;
  margin-bottom: 2.5rem
}
.catalog__cars {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(295px,1fr))
}
.filter {
  border-radius: 1.25rem;
  border: 1px solid #ebebeb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.875rem
}
.filter__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start
}
.filter__wrapper:not(:last-child) {
  border-right: 1px solid #ebebeb
}
.filter__select {
  font-weight: 700;
  outline: 0
}
.filter__select-dates {
  display: flex;
  align-items: center;
  gap: 20px
}
.filter__date {
  display: flex;
  align-items: center;
  gap: 20px
}
.filter__option {
  font-size: 1rem
}
.filter__label {
  margin-bottom: .3125rem
}
.filter__selects {
  display: flex;
  flex-wrap: wrap
}
.filter__btn {
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  width: 11.25rem;
  text-align: center;
  border-radius: 1.25rem;
  border: .0625rem solid #ebebeb;
  font-size: 1.125rem;
  transition: .3s
}
.filter__btn svg {
  margin-left: .9375rem;
  width: .9375rem;
  height: .9375rem
}
.filter__btn:hover {
  background-color: #272121;
  color: #fff;
  transition: .3s
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:23.4375em) {
  .menu__burger {
    padding: .9375rem
  }
}
@media (min-width:47.99875em) {
  .hero__subtitle {
    position: absolute;
    right: 0
  }
}
@media (min-width:47.99875em)and (min-width:93.75em) {
  .hero__subtitle {
    max-width: 35.3125rem
  }
  .hero__subtitle {
    top: 5.9375rem
  }
  .hero__subtitle {
    font-size: 1.125rem
  }
}
@media (min-width:61.99875em) {
  .menu__list {
    font-size: 1.125rem;
    display: flex;
    flex-wrap: wrap
  }
  .menu__burger {
    display: none
  }
}
@media (min-width:61.99875em)and (min-width:93.75em) {
  .menu__list {
    gap: 3.75rem
  }
}
@media (min-width:93.75em) {
  h1 {
    font-size: 4.5rem
  }
  h2 {
    font-size: 3.5rem
  }
  h3 {
    font-size: 2.625rem
  }
  .section {
    margin-top: 9.375rem
  }
  .advantages__block {
    -webkit-column-gap: 1.5625rem;
    -moz-column-gap: 1.5625rem;
    column-gap: 1.5625rem
  }
  .advantages__icon svg {
    width: 2.1875rem
  }
  .advantages__icon svg {
    height: 2.1875rem
  }
  .advantages__title {
    font-size: 1.25rem
  }
  .card__image {
    height: 12.5rem
  }
  .card__insights {
    font-size: 1rem
  }
  .card__details {
    font-size: 1rem
  }
  .link {
    font-size: 1.25rem
  }
  .link {
    padding-right: 2.1875rem
  }
  .link svg {
    width: 1.25rem
  }
  .link svg {
    height: 1.25rem
  }
  .social {
    padding: 1.125rem
  }
  .social svg {
    height: 1.375rem
  }
  .social svg {
    width: 1.375rem
  }
  .logo {
    height: 2.8125rem
  }
  .page__new {
    margin-top: 5.3125rem
  }
  .header__btn {
    font-size: 1.125rem
  }
  .footer {
    margin-top: 9.375rem
  }
  .footer__wrapper {
    padding: 4.6875rem
  }
  .footer__subtitle {
    font-size: 1rem
  }
  .footer__socials {
    gap: 2.1875rem
  }
  .footer__list {
    gap: 1.25rem
  }
  .footer__item-title {
    font-size: 1.25rem
  }
  .footer__item-subtitle {
    font-size: 1.125rem
  }
  .footer__nav {
    gap: 6.25rem
  }
  .hero {
    margin-bottom: 6.25rem
  }
  .hero {
    padding-bottom: 11.25rem
  }
  .hero__block {
    padding-top: 4.6875rem
  }
  .hero__block {
    padding-bottom: 2.8125rem
  }
  .hero__block {
    padding-right: 4.375rem
  }
  .hero__block {
    padding-left: 4.375rem
  }
  .hero__text {
    margin-bottom: 1.875rem
  }
  .hero__text {
    max-width: 61.25rem
  }
  .hero__btn {
    font-size: 1.125rem
  }
  .hero__image {
    top: 11.5625rem
  }
  .hero__image {
    width: 53.125rem
  }
  .hero__image img {
    width: 53.125rem
  }
  .hero__slider {
    margin-top: 2.8125rem
  }
  .offers__nav {
    margin-bottom: 2.8125rem
  }
  .offers__list {
    gap: 3.4375rem
  }
  .offers__list {
    font-size: 1.125rem
  }
  .steps__btn {
    left: 30rem
  }
  .steps__inner {
    margin-bottom: 3.125rem
  }
  .steps__blocks {
    gap: 1.875rem
  }
  .step__block {
    padding-top: 1.875rem
  }
  .step__block {
    padding-right: 1.875rem
  }
  .step__block {
    padding-left: 1.875rem
  }
  .step__block {
    padding-bottom: 2.8125rem
  }
  .step__subtitle {
    margin-bottom: 1.5625rem
  }
  .step__subtitle {
    font-size: 1.875rem
  }
  .step__description {
    font-size: 1.125rem
  }
  .delivery__container {
    gap: 4.375rem
  }
  .delivery__image {
    width: 29.375rem
  }
  .delivery__title {
    max-width: 33.125rem
  }
  .delivery__text {
    margin-bottom: 2.8125rem
  }
  .delivery__subtitle {
    max-width: 35.9375rem
  }
  .delivery__subtitle {
    bottom: -1.5625rem
  }
  .delivery__subtitle {
    font-size: 1.125rem
  }
  .delivery__advantages {
    gap: 7.1875rem
  }
  .delivery__advantages {
    margin-top: 3.4375rem
  }
  .tradeIn__image {
    margin-bottom: 3.125rem
  }
  .tradeIn__advantages {
    padding-top: 1.875rem
  }
  .tradeIn__advantages {
    padding-bottom: 1.875rem
  }
  .tradeIn__advantages {
    padding-right: 3.4375rem
  }
  .tradeIn__advantages {
    padding-left: 3.4375rem
  }
  .tradeIn__subtitle {
    font-size: 1.125rem
  }
  .tradeIn__text {
    max-width: 43.125rem
  }
  .tradeIn__inner {
    gap: 6.25rem
  }
  .contacts__header {
    gap: 3.4375rem
  }
  .contacts__inner {
    gap: 9.375rem
  }
  .contacts__item-title {
    font-size: 2rem
  }
  .contacts__item-subtitle {
    font-size: 1.25rem
  }
  .contacts__map {
    height: 25rem
  }
  .catalog__cars {
    gap: 1.875rem
  }
  .catalog__cars {
    margin-top: 2.8125rem
  }
  .filter {
    padding: 2.1875rem
  }
  .filter__wrapper:not(:last-child) {
    padding-right: 3.4375rem
  }
  .filter__select {
    font-size: 1.25rem
  }
  .filter__selects {
    gap: 3.4375rem
  }
}
@media (max-width:62em) {
  .delivery__image {
    width: 18.75rem
  }
  .delivery__title {
    max-width: 32.5rem
  }
  .delivery__text {
    margin-bottom: 5.9375rem
  }
  .delivery__subtitle {
    max-width: 20rem
  }
  .delivery__subtitle {
    bottom: -4.6875rem
  }
  .delivery__advantages {
    gap: 2.1875rem
  }
  .tradeIn__advantages {
    padding-right: 1.875rem
  }
  .tradeIn__advantages {
    padding-left: 1.875rem
  }
  .tradeIn__text {
    max-width: 31.25rem
  }
}
@media (max-width:48em) {
  .hero {
    margin-bottom: .0000000625rem
  }
  .hero__text {
    margin-bottom: 4.25rem
  }
  .hero__image {
    top: 11.875rem
  }
  .hero__image {
    width: 20rem
  }
  .steps__btn {
    left: 21.875rem
  }
  .contacts__inner {
    gap: 2.8125rem
  }
}
@media (max-width:767px) {
  .hero {
    padding-bottom: 250px;
    margin-bottom: 130px
  }
}
@media (max-width:20em) {
  h1 {
    font-size: 2.625rem
  }
  h2 {
    font-size: 2.375rem
  }
  h3 {
    font-size: 1.75rem
  }
  .section {
    margin-top: 7.5rem
  }
  .advantages__block {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .advantages__icon svg {
    width: 1.5625rem
  }
  .advantages__icon svg {
    height: 1.5625rem
  }
  .advantages__title {
    font-size: 1rem
  }
  .card__image {
    height: 15.625rem
  }
  .card__insights {
    font-size: .875rem
  }
  .card__details {
    font-size: .875rem
  }
  .link {
    font-size: 1rem
  }
  .link {
    padding-right: 1.5625rem
  }
  .link svg {
    width: .9375rem
  }
  .link svg {
    height: .9375rem
  }
  .social {
    padding: .9375rem
  }
  .social svg {
    height: 1.25rem
  }
  .social svg {
    width: 1.25rem
  }
  .logo {
    height: 2.1875rem
  }
  .page__new {
    margin-top: 4.0625rem
  }
  .header__btn {
    font-size: 1rem
  }
  .menu__burger {
    padding: .5rem
  }
  .footer {
    margin-top: 7.5rem
  }
  .footer__wrapper {
    padding: 1.875rem
  }
  .footer__subtitle {
    font-size: .875rem
  }
  .footer__socials {
    gap: 1.5625rem
  }
  .footer__list {
    gap: .9375rem
  }
  .footer__item-title {
    font-size: 1rem
  }
  .footer__item-subtitle {
    font-size: 1rem
  }
  .footer__nav {
    gap: 2.1875rem
  }
  .hero {
    padding-bottom: 12.5rem
  }
  .hero__block {
    padding-top: 1.5625rem
  }
  .hero__block {
    padding-bottom: 1.5625rem
  }
  .hero__block {
    padding-right: 1.5625rem
  }
  .hero__block {
    padding-left: 1.5625rem
  }
  .hero__btn {
    font-size: 1rem
  }
  .hero__image img {
    width: 28.125rem
  }
  .hero__slider {
    margin-top: 2.1875rem
  }
  .offers__nav {
    margin-bottom: 2.1875rem
  }
  .offers__list {
    gap: 2.8125rem
  }
  .offers__list {
    font-size: 1rem
  }
  .steps__inner {
    margin-bottom: 2.1875rem
  }
  .steps__blocks {
    gap: 1.5625rem
  }
  .step__block {
    padding-top: 1.5625rem
  }
  .step__block {
    padding-right: 1.5625rem
  }
  .step__block {
    padding-left: 1.5625rem
  }
  .step__block {
    padding-bottom: 1.875rem
  }
  .step__subtitle {
    margin-bottom: .9375rem
  }
  .step__subtitle {
    font-size: 1.25rem
  }
  .step__description {
    font-size: 1rem
  }
  .delivery__container {
    gap: 1.5625rem
  }
  .delivery__subtitle {
    font-size: 1rem
  }
  .delivery__advantages {
    margin-top: 2.1875rem
  }
  .tradeIn__image {
    margin-bottom: 1.25rem
  }
  .tradeIn__advantages {
    padding-top: 1.25rem
  }
  .tradeIn__advantages {
    padding-bottom: 1.25rem
  }
  .tradeIn__subtitle {
    font-size: .875rem
  }
  .tradeIn__inner {
    gap: 1.25rem
  }
  .contacts__header {
    gap: 1.25rem
  }
  .contacts__item-title {
    font-size: 1.75rem
  }
  .contacts__item-subtitle {
    font-size: 1rem
  }
  .contacts__map {
    height: 17.1875rem
  }
  .catalog__cars {
    gap: 1.5625rem
  }
  .catalog__cars {
    margin-top: 2.5rem
  }
  .filter {
    padding: 1.5625rem
  }
  .filter__wrapper:not(:last-child) {
    padding-right: 1.25rem
  }
  .filter__select {
    font-size: 1.125rem
  }
  .filter__selects {
    gap: 1.25rem
  }
}
@media (max-width:61.99875em) {
  .header__btn {
    background-color: #272121;
    color: #fff;
    margin-right: 4.0625rem
  }
  .hero__title {
    margin-bottom: 1.25rem
  }
  .steps__text {
    margin-bottom: 1.25rem
  }
  .steps__inner {
    flex-direction: column;
    align-items: start
  }
  .steps__blocks {
    grid-template-columns: repeat(1,1fr)
  }
  .delivery__title {
    margin-bottom: 20px
  }
  .delivery__text {
    margin-bottom: 20px
  }
  .delivery__subtitle {
    position: static;
    max-width: 100%
  }
  .tradeIn__text {
    max-width: 100%
  }
}
@media (max-width:52.5em) {
  .delivery__container {
    flex-direction: column-reverse
  }
  .delivery__image {
    width: 100%;
    height: 245px
  }
  .delivery__btn {
    width: 100%
  }
}
@media (max-width:47.99875em) {
  .link_unvisible {
    display: none
  }
  .hero__text {
    margin-bottom: 25px
  }
  .hero__btn {
    width: 100%
  }
  .offers__nav {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap
  }
  .steps__btn {
    position: static;
    width: 100%
  }
  .steps__title {
    max-width: 100%;
    margin-bottom: 1.25rem
  }
  .tradeIn__image {
    height: 12.5rem
  }
  .tradeIn__advantages {
    width: 100%
  }
  .catalog__nav {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap
  }
  .filter__wrapper:not(:last-child) {
    padding-right: 0;
    padding-bottom: 1.25rem;
    border-right: none;
    border-bottom: 1px solid #ebebeb;
    width: 100%
  }
  .filter__selects {
    flex-direction: column;
    width: 100%
  }
  .filter__btn {
    width: 100%
  }
}
@media (max-width:47.99875em)and (max-width:20em) {
  .hero__image {
    top: 25.3125rem
  }
  .hero__image {
    width: 18.75rem
  }
  .hero__image img {
    width: 42.5rem
  }
}
@media (max-width:29.99875em) {
  .header__btn {
    display: none
  }
  .footer__inner {
    width: 100%
  }
  .footer__subtitle {
    max-width: 100%
  }
  .footer__socials {
    justify-content: space-between
  }
}
@media (min-width:20em)and (max-width:93.75em) {
  h1 {
    font-size: clamp(2.625rem ,2.1165254237rem + 2.5423728814vw ,4.5rem)
  }
  h2 {
    font-size: clamp(2.375rem ,2.0699152542rem + 1.5254237288vw ,3.5rem)
  }
  h3 {
    font-size: clamp(1.75rem ,1.5127118644rem + 1.186440678vw ,2.625rem)
  }
  .section {
    margin-top: clamp(7.5rem ,6.9915254237rem + 2.5423728814vw ,9.375rem)
  }
  .advantages__block {
    -webkit-column-gap: clamp(1.25rem ,1.1652542373rem + .4237288136vw ,1.5625rem);
    -moz-column-gap: clamp(1.25rem ,1.1652542373rem + .4237288136vw ,1.5625rem);
    column-gap: clamp(1.25rem ,1.1652542373rem + .4237288136vw ,1.5625rem)
  }
  .advantages__icon svg {
    width: clamp(1.5625rem ,1.3930084746rem + .8474576271vw ,2.1875rem)
  }
  .advantages__icon svg {
    height: clamp(1.5625rem ,1.3930084746rem + .8474576271vw ,2.1875rem)
  }
  .advantages__title {
    font-size: clamp(1rem ,.9322033898rem + .3389830508vw ,1.25rem)
  }
  .card__image {
    height: clamp(12.5rem ,16.4724576271rem + -4.2372881356vw ,15.625rem)
  }
  .card__insights {
    font-size: clamp(.875rem ,.8411016949rem + .1694915254vw ,1rem)
  }
  .card__details {
    font-size: clamp(.875rem ,.8411016949rem + .1694915254vw ,1rem)
  }
  .link {
    font-size: clamp(1rem ,.9322033898rem + .3389830508vw ,1.25rem)
  }
  .link {
    padding-right: clamp(1.5625rem ,1.3930084746rem + .8474576271vw ,2.1875rem)
  }
  .link svg {
    width: clamp(.9375rem ,.8527542373rem + .4237288136vw ,1.25rem)
  }
  .link svg {
    height: clamp(.9375rem ,.8527542373rem + .4237288136vw ,1.25rem)
  }
  .social {
    padding: clamp(.9375rem ,.8866525424rem + .2542372881vw ,1.125rem)
  }
  .social svg {
    height: clamp(1.25rem ,1.2161016949rem + .1694915254vw ,1.375rem)
  }
  .social svg {
    width: clamp(1.25rem ,1.2161016949rem + .1694915254vw ,1.375rem)
  }
  .logo {
    height: clamp(2.1875rem ,2.0180084746rem + .8474576271vw ,2.8125rem)
  }
  .page__new {
    margin-top: clamp(4.0625rem ,3.7235169492rem + 1.6949152542vw ,5.3125rem)
  }
  .header__btn {
    font-size: clamp(1rem ,.9661016949rem + .1694915254vw ,1.125rem)
  }
  .footer {
    margin-top: clamp(7.5rem ,6.9915254237rem + 2.5423728814vw ,9.375rem)
  }
  .footer__wrapper {
    padding: clamp(1.875rem ,1.1122881356rem + 3.813559322vw ,4.6875rem)
  }
  .footer__subtitle {
    font-size: clamp(.875rem ,.8411016949rem + .1694915254vw ,1rem)
  }
  .footer__socials {
    gap: clamp(1.5625rem ,1.3930084746rem + .8474576271vw ,2.1875rem)
  }
  .footer__list {
    gap: clamp(.9375rem ,.8527542373rem + .4237288136vw ,1.25rem)
  }
  .footer__item-title {
    font-size: clamp(1rem ,.9322033898rem + .3389830508vw ,1.25rem)
  }
  .footer__item-subtitle {
    font-size: clamp(1rem ,.9661016949rem + .1694915254vw ,1.125rem)
  }
  .footer__nav {
    gap: clamp(2.1875rem ,1.0858050847rem + 5.5084745763vw ,6.25rem)
  }
  .hero {
    padding-bottom: clamp(11.25rem ,12.8389830508rem + -1.6949152542vw ,12.5rem)
  }
  .hero__block {
    padding-top: clamp(1.5625rem ,.7150423729rem + 4.2372881356vw ,4.6875rem)
  }
  .hero__block {
    padding-bottom: clamp(1.5625rem ,1.2235169492rem + 1.6949152542vw ,2.8125rem)
  }
  .hero__block {
    padding-right: clamp(1.5625rem ,.7997881356rem + 3.813559322vw ,4.375rem)
  }
  .hero__block {
    padding-left: clamp(1.5625rem ,.7997881356rem + 3.813559322vw ,4.375rem)
  }
  .hero__btn {
    font-size: clamp(1rem ,.9661016949rem + .1694915254vw ,1.125rem)
  }
  .hero__image img {
    width: clamp(28.125rem ,21.3453389831rem + 33.8983050847vw ,53.125rem)
  }
  .hero__slider {
    margin-top: clamp(2.1875rem ,2.0180084746rem + .8474576271vw ,2.8125rem)
  }
  .offers__nav {
    margin-bottom: clamp(2.1875rem ,2.0180084746rem + .8474576271vw ,2.8125rem)
  }
  .offers__list {
    gap: clamp(2.8125rem ,2.6430084746rem + .8474576271vw ,3.4375rem)
  }
  .offers__list {
    font-size: clamp(1rem ,.9661016949rem + .1694915254vw ,1.125rem)
  }
  .steps__inner {
    margin-bottom: clamp(2.1875rem ,1.9332627119rem + 1.2711864407vw ,3.125rem)
  }
  .steps__blocks {
    gap: clamp(1.5625rem ,1.4777542373rem + .4237288136vw ,1.875rem)
  }
  .step__block {
    padding-top: clamp(1.5625rem ,1.4777542373rem + .4237288136vw ,1.875rem)
  }
  .step__block {
    padding-right: clamp(1.5625rem ,1.4777542373rem + .4237288136vw ,1.875rem)
  }
  .step__block {
    padding-left: clamp(1.5625rem ,1.4777542373rem + .4237288136vw ,1.875rem)
  }
  .step__block {
    padding-bottom: clamp(1.875rem ,1.6207627119rem + 1.2711864407vw ,2.8125rem)
  }
  .step__subtitle {
    margin-bottom: clamp(.9375rem ,.7680084746rem + .8474576271vw ,1.5625rem)
  }
  .step__subtitle {
    font-size: clamp(1.25rem ,1.0805084746rem + .8474576271vw ,1.875rem)
  }
  .step__description {
    font-size: clamp(1rem ,.9661016949rem + .1694915254vw ,1.125rem)
  }
  .delivery__container {
    gap: clamp(1.5625rem ,.7997881356rem + 3.813559322vw ,4.375rem)
  }
  .delivery__subtitle {
    font-size: clamp(1rem ,.9661016949rem + .1694915254vw ,1.125rem)
  }
  .delivery__advantages {
    margin-top: clamp(2.1875rem ,1.8485169492rem + 1.6949152542vw ,3.4375rem)
  }
  .tradeIn__image {
    margin-bottom: clamp(1.25rem ,.7415254237rem + 2.5423728814vw ,3.125rem)
  }
  .tradeIn__advantages {
    padding-top: clamp(1.25rem ,1.0805084746rem + .8474576271vw ,1.875rem)
  }
  .tradeIn__advantages {
    padding-bottom: clamp(1.25rem ,1.0805084746rem + .8474576271vw ,1.875rem)
  }
  .tradeIn__subtitle {
    font-size: clamp(.875rem ,.8072033898rem + .3389830508vw ,1.125rem)
  }
  .tradeIn__inner {
    gap: clamp(1.25rem ,-.1059322034rem + 6.7796610169vw ,6.25rem)
  }
  .contacts__header {
    gap: clamp(1.25rem ,.656779661rem + 2.9661016949vw ,3.4375rem)
  }
  .contacts__item-title {
    font-size: clamp(1.75rem ,1.6822033898rem + .3389830508vw ,2rem)
  }
  .contacts__item-subtitle {
    font-size: clamp(1rem ,.9322033898rem + .3389830508vw ,1.25rem)
  }
  .contacts__map {
    height: clamp(17.1875rem ,15.0688559322rem + 10.593220339vw ,25rem)
  }
  .catalog__cars {
    gap: clamp(1.5625rem ,1.4777542373rem + .4237288136vw ,1.875rem)
  }
  .catalog__cars {
    margin-top: clamp(2.5rem ,2.4152542373rem + .4237288136vw ,2.8125rem)
  }
  .filter {
    padding: clamp(1.5625rem ,1.3930084746rem + .8474576271vw ,2.1875rem)
  }
  .filter__wrapper:not(:last-child) {
    padding-right: clamp(1.25rem ,.656779661rem + 2.9661016949vw ,3.4375rem)
  }
  .filter__select {
    font-size: clamp(1.125rem ,1.0911016949rem + .1694915254vw ,1.25rem)
  }
  .filter__selects {
    gap: clamp(1.25rem ,.656779661rem + 2.9661016949vw ,3.4375rem)
  }
}
@media (min-width:61.99875em)and (min-width:48em)and (max-width:93.75em) {
  .menu__list {
    gap: clamp(1.25rem ,-1.3729508197rem + 5.4644808743vw ,3.75rem)
  }
}
@media (min-width:61.99875em)and (max-width:48em) {
  .menu__list {
    gap: 1.25rem
  }
}
@media (min-width:20em)and (max-width:23.4375em) {
  .menu__burger {
    padding: clamp(.5rem ,-2.0454545455rem + 12.7272727273vw ,.9375rem)
  }
}
@media (min-width:48em)and (max-width:93.75em) {
  .hero {
    margin-bottom: clamp(.0000000625rem ,-6.5573769211rem + 13.6612020492vw ,6.25rem)
  }
  .hero__text {
    margin-bottom: clamp(1.875rem ,6.7418032787rem + -5.1912568306vw ,4.25rem)
  }
  .hero__text {
    max-width: clamp(40.625rem ,18.9856557377rem + 45.0819672131vw ,61.25rem)
  }
  .hero__image {
    top: clamp(11.5625rem ,12.2028688525rem + -.6830601093vw ,11.875rem)
  }
  .hero__image {
    width: clamp(20rem ,-14.7540983607rem + 72.4043715847vw ,53.125rem)
  }
  .steps__btn {
    left: clamp(21.875rem ,13.3504098361rem + 17.7595628415vw ,30rem)
  }
  .contacts__inner {
    gap: clamp(2.8125rem ,-4.0727459016rem + 14.3442622951vw ,9.375rem)
  }
}
@media (min-width:47.99875em)and (min-width:48em)and (max-width:93.75em) {
  .hero__subtitle {
    max-width: clamp(21.875rem ,7.7766393443rem + 29.3715846995vw ,35.3125rem)
  }
  .hero__subtitle {
    top: clamp(4.375rem ,2.7356557377rem + 3.4153005464vw ,5.9375rem)
  }
}
@media (min-width:47.99875em)and (min-width:20em)and (max-width:93.75em) {
  .hero__subtitle {
    font-size: clamp(1rem ,.9661016949rem + .1694915254vw ,1.125rem)
  }
}
@media (min-width:47.99875em)and (max-width:20em) {
  .hero__subtitle {
    font-size: 1rem
  }
}
@media (max-width:47.99875em)and (min-width:48em) {
  .hero__image {
    top: 21.875rem
  }
  .hero__image {
    width: 37.5rem
  }
  .hero__image img {
    width: 43.75rem
  }
}
@media (max-width:47.99875em)and (min-width:20em)and (max-width:48em) {
  .hero__image {
    top: clamp(21.875rem ,27.7678571429rem + -12.2767857143vw ,25.3125rem)
  }
  .hero__image {
    width: clamp(18.75rem ,5.3571428571rem + 66.9642857143vw ,37.5rem)
  }
  .hero__image img {
    width: clamp(42.5rem ,41.6071428571rem + 4.4642857143vw ,43.75rem)
  }
}
@media (min-width:62em)and (max-width:93.75em) {
  .delivery__image {
    width: clamp(18.75rem ,-1.9980314961rem + 33.4645669291vw ,29.375rem)
  }
  .delivery__title {
    max-width: clamp(32.5rem ,31.2795275591rem + 1.968503937vw ,33.125rem)
  }
  .delivery__text {
    margin-bottom: clamp(2.8125rem ,12.0398622047rem + -9.842519685vw ,5.9375rem)
  }
  .delivery__subtitle {
    max-width: clamp(20rem ,-11.1220472441rem + 50.1968503937vw ,35.9375rem)
  }
  .delivery__subtitle {
    bottom: clamp(-4.6875rem ,-10.7898622047rem + 9.842519685vw ,-1.5625rem)
  }
  .delivery__advantages {
    gap: clamp(2.1875rem ,-7.5762795276rem + 15.7480314961vw ,7.1875rem)
  }
  .tradeIn__advantages {
    padding-right: clamp(1.875rem ,-1.1761811024rem + 4.9212598425vw ,3.4375rem)
  }
  .tradeIn__advantages {
    padding-left: clamp(1.875rem ,-1.1761811024rem + 4.9212598425vw ,3.4375rem)
  }
  .tradeIn__text {
    max-width: clamp(31.25rem ,8.061023622rem + 37.4015748031vw ,43.125rem)
  }
}